/*******************   start Global   *********/
* { margin: 0;
    padding: 0;}
.clr{ clear: both;}
body{ font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1f3571;}
.primary-color { color: #ea2a3d;}
.secondary-color { color: #274eba;}
.main-btn { background-color: transparent;
    border: 3px solid #ea2a3d;
    color: #ea2a3d;
    padding: 10px 24px;
    text-transform: uppercase;
    transition: .5s;
    cursor: pointer;}
.main-btn:hover{ background-color: #ea2a3d;
    color: white;}
/*******************   End Global   *********/
/*******************   start nav bar   *********/
.navbar{background-color: #f6f2ea;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    /* position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    z-index: 999999; */ }
.nav-logo{ /* background-color: blue; */
    float: inline-start;}
.nav-logo img{ inline-size: 100px;
    float: inline-start;}

.nav-links{ /* background-color: yellow; */
    /* float: inline-start; */
    /* margin-block-start: 20px;
    margin-inline-start: 400px; */
    float: none;}
.nav-links ul{list-style: none;
    padding: 0;
    margin: 0;}
.nav-links li{float: inline-start;
margin-inline-start: 28px;}
.nav-links a{color: #1f3571;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    transition: .5s;}
.nav-links li:hover a{color: #ea2a3d;}
.nav-btn{ /* background-color: turquoise; */
    float: inline-end;
    margin-block-start: 8px;}
/*******************   End nav bar   *********/
/*******************   start Home   *********/
.home{ /* background-color: red; */
    padding-block-start: 200px;
    background-color: #f6f2ea;
    block-size: 90%;
    position: relative;}
.home .dina-seafood{position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    transform: translate(-60%, -50%);
    opacity: .3;
    flex-shrink: calc();}
.home-heading{ /* background: blue; */
    inline-size: 65%;
    float: inline-start;}
.home-heading h1{font-size: 7rem;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    /* color: #274eba; */ }
.home-content{ /* background-color: yellow; */
    inline-size: 35%;
    float: inline-start;}
.home-content p{font-size: 30px;
    font-style: italic;
    margin-block-end: 30px;}
.home-content h3{margin: 20px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    /* text-decoration: underline 1px; */
    border-block-end: 1px solid #274eba;
    /* background-color: red; */
    inline-size: fit-content;}
.home-content ul{list-style: none;}
.home-content li{line-height: 25px;}
.container{ /* background-color: red; */
    inline-size: 85%;
    margin: auto;}
.gallery img{inline-size: 25%;
    float: inline-start;}